.banner-bg {
  padding-top: 120px;
}
.banner-bg img {
  display: block;
  width: 100%;
  height: auto;
  object-position: center;
  object-fit: cover;
}
.gallery {
  position: relative;
  height: 100%;
  padding-top: 120px;
}
.gallery img {
  display: block;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.gallery .swiper-container {
  width: 100%;
}
.gallery .swiper-button-prev,
.gallery .swiper-button-next {
  width: 9px;
  height: 15px;
  padding: 30px 15px;
}
.gallery .swiper-button-prev {
  left: 16px;
}
.gallery .swiper-button-prev::after {
  font-size: 15px;
}
.gallery .swiper-button-next {
  right: 16px;
}
.gallery .swiper-button-next::after {
  font-size: 15px;
}
.gallery .gallery-top {
  height: 90%;
  width: 100%;
  -webkit-mask-image: linear-gradient(90deg, transparent 0, rgba(0, 0, 0, 0.6) 0px, #000000 15%, #000000 calc(100% - 15%), rgba(0, 0, 0, 0.6) calc(100% - 0px), transparent);
  mask-image: linear-gradient(90deg, transparent 0, rgba(0, 0, 0, 0.6) 0px, #000000 15%, #000000 calc(100% - 15%), rgba(0, 0, 0, 0.6) calc(100% - 0px), transparent);
}
.gallery .gallery-thumbs {
  height: 10%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery .gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.75;
}
.gallery .gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
  outline: 1px solid #000000;
  border: 1px solid #ffffff;
}
.prog-design {
  padding: 40px;
  padding-bottom: 0;
}
.prog-design .header-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
.prog-design .header-info h2 {
  font-size: 36px;
  text-align: center;
}
.prog-design .header-info .text {
  margin-top: 20px;
  width: 100%;
  max-width: 836px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 76px;
  line-height: 24px;
}
.digital-panel,
.driving-pleasure {
  background-color: #000000;
}
.digital-panel .header-info,
.driving-pleasure .header-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  padding-top: 120px;
  padding-bottom: 80px;
  margin: 0 auto;
}
.digital-panel .header-info h2,
.driving-pleasure .header-info h2 {
  text-align: center;
  color: #ffffff;
}
.digital-panel .header-info .text,
.driving-pleasure .header-info .text {
  color: #ffffff;
  margin-top: 20px;
  width: 100%;
  max-width: 836px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 76px;
}
.digital-panel .media-info,
.driving-pleasure .media-info {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 670px;
}
.digital-panel .hidden-info,
.driving-pleasure .hidden-info {
  padding: 0 40px;
  overflow-y: hidden;
  max-height: 128px;
  transition: all 0.25s ease;
}
.digital-panel .hidden-info .show-more,
.driving-pleasure .hidden-info .show-more {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.digital-panel .hidden-info .show-more .btn-info,
.driving-pleasure .hidden-info .show-more .btn-info {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.1s ease;
}
.digital-panel .hidden-info .show-more .btn-info::before,
.driving-pleasure .hidden-info .show-more .btn-info::before,
.digital-panel .hidden-info .show-more .btn-info::after,
.driving-pleasure .hidden-info .show-more .btn-info::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
}
.digital-panel .hidden-info .show-more .btn-info::before,
.driving-pleasure .hidden-info .show-more .btn-info::before {
  width: 1px;
  height: 21px;
}
.digital-panel .hidden-info .show-more .btn-info::after,
.driving-pleasure .hidden-info .show-more .btn-info::after {
  width: 21px;
  height: 1px;
}
.digital-panel .hidden-info .show-more .btn-info:hover,
.driving-pleasure .hidden-info .show-more .btn-info:hover {
  background-color: #b3b3b3;
}
.digital-panel .hidden-info .show-more .btn-info:active,
.driving-pleasure .hidden-info .show-more .btn-info:active {
  background-color: #ffffff;
}
.digital-panel .hidden-info .show-more .btn-info.active,
.driving-pleasure .hidden-info .show-more .btn-info.active {
  transform: rotate(45deg);
}
.digital-panel .hidden-info .show-more .sub-title,
.driving-pleasure .hidden-info .show-more .sub-title {
  margin-top: 20px;
  color: #ffffff;
}
.digital-panel .hidden-info .more-info,
.driving-pleasure .hidden-info .more-info {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
}
.digital-panel .hidden-info .more-info h3,
.driving-pleasure .hidden-info .more-info h3 {
  line-height: 58px;
}
.digital-panel .hidden-info .more-info img,
.driving-pleasure .hidden-info .more-info img {
  margin-top: 30px;
  display: block;
  width: 100%;
  max-width: 1076px;
  height: auto;
}
.digital-panel .hidden-info .more-info p,
.driving-pleasure .hidden-info .more-info p {
  margin-top: 40px;
  line-height: 24px;
  width: 100%;
  max-width: 704px;
}
.digital-panel .hidden-info.show,
.driving-pleasure .hidden-info.show {
  background-color: #767676;
  max-height: 1360px;
  transition: all 0.25s ease;
}
.digital-panel .hidden-info.show .show-more .sub-title,
.driving-pleasure .hidden-info.show .show-more .sub-title {
  visibility: hidden;
}
.digital-panel .media-info {
  background-image: url("../images/audi-q3sb/img-lg_gallery-07.jpg");
}
.driving-pleasure .media-info {
  background-image: url("../images/audi-q3sb/img-lg_gallery-03.jpg");
}
.your-design {
  background-color: #000000;
}
.your-design .header-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  padding-top: 120px;
  padding-bottom: 80px;
  margin: 0 auto;
}
.your-design .header-info h2 {
  text-align: center;
  color: #ffffff;
}
.your-design .header-info .text {
  color: #ffffff;
  margin-top: 20px;
  width: 100%;
  max-width: 836px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 76px;
}
.your-design .media-info {
  width: 100%;
  height: 670px;
  position: relative;
  overflow: hidden;
  background-image: url("../images/audi-q3sb/img-lg_gallery-06.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.your-design .media-info video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: auto;
}
.functionality .header-info,
.bright-light .header-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  padding-top: 120px;
  margin: 0 auto;
}
.functionality .header-info h2,
.bright-light .header-info h2 {
  text-align: center;
}
.functionality .header-info .text,
.bright-light .header-info .text {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  max-width: 704px;
}
.functionality .media-info,
.bright-light .media-info {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 670px;
}
.functionality .hidden-info,
.bright-light .hidden-info {
  padding: 0 40px;
  overflow-y: hidden;
  max-height: 128px;
  transition: all 0.25s ease;
}
.functionality .hidden-info .show-more,
.bright-light .hidden-info .show-more {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.functionality .hidden-info .show-more .btn-info,
.bright-light .hidden-info .show-more .btn-info {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #000000;
  border-radius: 50%;
  transition: all 0.1s ease;
}
.functionality .hidden-info .show-more .btn-info::before,
.bright-light .hidden-info .show-more .btn-info::before,
.functionality .hidden-info .show-more .btn-info::after,
.bright-light .hidden-info .show-more .btn-info::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}
.functionality .hidden-info .show-more .btn-info::before,
.bright-light .hidden-info .show-more .btn-info::before {
  width: 1px;
  height: 21px;
}
.functionality .hidden-info .show-more .btn-info::after,
.bright-light .hidden-info .show-more .btn-info::after {
  width: 21px;
  height: 1px;
}
.functionality .hidden-info .show-more .btn-info:hover,
.bright-light .hidden-info .show-more .btn-info:hover {
  background-color: #333333;
}
.functionality .hidden-info .show-more .btn-info:active,
.bright-light .hidden-info .show-more .btn-info:active {
  background-color: #000000;
}
.functionality .hidden-info .show-more .btn-info.active,
.bright-light .hidden-info .show-more .btn-info.active {
  transform: rotate(45deg);
}
.functionality .hidden-info .show-more .sub-title,
.bright-light .hidden-info .show-more .sub-title {
  margin-top: 20px;
}
.functionality .hidden-info .more-info,
.bright-light .hidden-info .more-info {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
}
.functionality .hidden-info .more-info h3,
.bright-light .hidden-info .more-info h3 {
  line-height: 58px;
}
.functionality .hidden-info .more-info img,
.bright-light .hidden-info .more-info img {
  margin-top: 30px;
  display: block;
  width: 100%;
  max-width: 1076px;
  height: auto;
}
.functionality .hidden-info .more-info p,
.bright-light .hidden-info .more-info p {
  margin-top: 40px;
  line-height: 24px;
  width: 100%;
  max-width: 704px;
}
.functionality .hidden-info.show,
.bright-light .hidden-info.show {
  background-color: #767676;
  max-height: 1360px;
  transition: all 0.25s ease;
}
.functionality .hidden-info.show .show-more .sub-title,
.bright-light .hidden-info.show .show-more .sub-title {
  visibility: hidden;
}
.functionality .media-info {
  background-image: url("../images/audi-q3sb/img-lg_bg-02.jpg");
}
.bright-light .media-info {
  background-image: url("../images/audi-q3sb/img-lg_bg-03.jpg");
}
.trust {
  padding-top: 80px;
  display: grid;
  grid-template-columns: minmax(40%, 1fr) 1fr;
  grid-gap: 40px;
  align-items: center;
}
.trust .trust-logo img {
  display: block;
  width: 100%;
  height: 320px;
  object-position: center;
  object-fit: cover;
}
.trust .trust-info h3 {
  line-height: 42px;
}
.trust .trust-info p {
  margin-top: 14px;
  font-size: 18px;
  line-height: 32px;
}
@media screen and (max-width: 992px) {
  .banner-bg {
    padding-top: 100px;
  }
  .prog-design {
    padding-left: 32px;
    padding-right: 32px;
  }
  .prog-design .header-info h2 {
    font-size: 30px;
    text-align: left;
  }
  .prog-design .header-info .text {
    margin-top: 14px;
    grid-template-columns: 1fr;
    grid-column-gap: none;
    font-size: 18px;
  }
  .digital-panel .header-info,
  .driving-pleasure .header-info {
    padding-top: 80px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 40px;
  }
  .digital-panel .header-info h2,
  .driving-pleasure .header-info h2 {
    text-align: left;
  }
  .digital-panel .header-info .text,
  .driving-pleasure .header-info .text {
    margin-top: 14px;
    grid-template-columns: 1fr;
    grid-column-gap: none;
  }
  .digital-panel .media-info,
  .driving-pleasure .media-info {
    height: 560px;
  }
  .digital-panel .hidden-info,
  .driving-pleasure .hidden-info {
    padding: 0 32px;
  }
  .digital-panel .hidden-info .more-info h3,
  .driving-pleasure .hidden-info .more-info h3 {
    line-height: 48px;
  }
  .your-design .header-info {
    padding-top: 80px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 40px;
  }
  .your-design .header-info h2 {
    text-align: left;
  }
  .your-design .header-info .text {
    margin-top: 14px;
    grid-template-columns: 1fr;
    grid-column-gap: none;
  }
  .your-design .media-info {
    height: 560px;
  }
  .functionality .header-info,
  .bright-light .header-info {
    padding-top: 80px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 40px;
  }
  .functionality .media-info,
  .bright-light .media-info {
    height: 560px;
  }
  .functionality .hidden-info,
  .bright-light .hidden-info {
    padding: 0 32px;
  }
  .functionality .hidden-info .more-info h3,
  .bright-light .hidden-info .more-info h3 {
    line-height: 48px;
  }
  .trust {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
    align-items: center;
  }
  .trust .trust-info h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .trust .trust-info p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 768px) {
  .banner-bg {
    padding-top: 80px;
  }
  .prog-design {
    padding-left: 24px;
    padding-right: 24px;
  }
  .digital-panel .header-info,
  .driving-pleasure .header-info,
  .functionality .header-info,
  .bright-light .header-info {
    padding-left: 24px;
    padding-right: 24px;
  }
  .digital-panel .media-info,
  .driving-pleasure .media-info,
  .functionality .media-info,
  .bright-light .media-info {
    height: 450px;
  }
  .digital-panel .hidden-info,
  .driving-pleasure .hidden-info,
  .functionality .hidden-info,
  .bright-light .hidden-info {
    padding: 0 24px;
  }
  .digital-panel .hidden-info .more-info h3,
  .driving-pleasure .hidden-info .more-info h3,
  .functionality .hidden-info .more-info h3,
  .bright-light .hidden-info .more-info h3 {
    line-height: 38px;
  }
  .your-design .header-info {
    padding-left: 24px;
    padding-right: 24px;
  }
  .your-design .media-info {
    height: 450px;
  }
  .your-design .media-info video {
    display: none;
  }
  .trust {
    padding-top: 40px;
    grid-template-columns: 1fr;
  }
  .trust .trust-logo img {
    height: 240px;
  }
}
@media screen and (max-width: 576px) {
  .prog-design {
    padding-left: 18px;
    padding-right: 18px;
  }
  .prog-design .header-info h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .digital-panel .header-info,
  .driving-pleasure .header-info,
  .functionality .header-info,
  .bright-light .header-info {
    padding-left: 18px;
    padding-right: 18px;
  }
  .digital-panel .header-info h2,
  .driving-pleasure .header-info h2,
  .functionality .header-info h2,
  .bright-light .header-info h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .digital-panel .media-info,
  .driving-pleasure .media-info,
  .functionality .media-info,
  .bright-light .media-info {
    height: 340px;
  }
  .digital-panel .hidden-info,
  .driving-pleasure .hidden-info,
  .functionality .hidden-info,
  .bright-light .hidden-info {
    padding: 0 18px;
  }
  .digital-panel .hidden-info .more-info h3,
  .driving-pleasure .hidden-info .more-info h3,
  .functionality .hidden-info .more-info h3,
  .bright-light .hidden-info .more-info h3 {
    line-height: 32px;
  }
  .your-design .header-info {
    padding-left: 18px;
    padding-right: 18px;
  }
  .your-design .media-info {
    height: 340px;
  }
  .trust {
    padding-top: 20px;
  }
}
@media screen and (max-width: 488px) {
  .digital-panel .media-info,
  .driving-pleasure .media-info,
  .functionality .media-info,
  .bright-light .media-info {
    height: 230px;
  }
  .your-design .media-info {
    height: 230px;
  }
  .trust {
    padding-top: 0;
  }
}
